@if (product) {
    <section class="wrapper-main">
        <div class="main max-wrapper">
            <img [src]="product.image" alt="" />
    
            <div class="infos">
                <div>
                    <h1 class="title">{{ product.title }}</h1>
                    <span aria-label="Prix de l'article" class="price">
                        {{ product.price | currency : "EUR" }}
                    </span>
                </div>
                <form action="POST" (submit)="addToCart()">
                    <label for="quantity">Quantité</label>
                    <div class="buttons">
                        <button
                            class="btn-quantity"
                            type="button"
                            (click)="decreaseQuantity()"
                        >
                            -
                        </button>
                        <input
                            name="quantity"
                            type="text"
                            id="quantity"
                            [(ngModel)]="itemQuantity"
                        />
                        <button
                            class="btn-quantity"
                            type="button"
                            (click)="increaseQuantity()"
                        >
                            +
                        </button>
                    </div>
                    <button type="submit" class="btn primary">
                        J'ajoute au panier
                    </button>
                </form>
            </div>
        </div>
    </section>
    
    <section class="details">
        <div class="max-wrapper">
            <h2 class="title">Lorem ipsum</h2>
    
            <div class="text">
                <p>{{ product.description }}</p>
            </div>
        </div>
    </section>
}