<section app-banner>
</section>

@for (product of products; track product.id) {
    <section class="item">
    <div class="max-wrapper wrapper">
        <div class="main">
            <strong aria-label="Nom de l'article" class="title border-bottom">
                {{product.title}}
            </strong>
            <p aria-label="Description de l'article">{{product.description}}</p>
            <span class="price" aria-label="Prix de l'article">
                {{product.price | currency : "EUR"}}
            </span>
            <div class="buttons">
                <button class="btn primary" (click)="addToCart(product)">
                    J'ajoute au panier
                </button>
                <a [routerLink]="['/details', product.id]" class="btn secondary">
                    Détails de l'article
                </a>
            </div>
        </div>

        <div class="image">
            <img [src]="product.image" alt="Image de l'article" />
        </div>
    </div>
</section>
}
