<div class="wrapper max-wrapper">
    <div class="content">
        <section class="form">
            <form action="POST">
                <label for="email">
                    Inscrivez-vous à la newsletter pour des <strong>nouveautés</strong> et des <strong>offres exclusives</strong> :
                </label>

                <div class="input-email">
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="adresse de messagerie"
                    />
                    <div class="border-bottom">
                        <button type="submit">Je m'abonne</button>
                    </div>
                </div>

                <div class="input-rgpd">
                    <label for="rgpd">
                        J’accepte les <a>conditions de confidentitalité</a>
                    </label>
                    <input type="checkbox" name="rgpd" id="rgpd" required />
                </div>
            </form>
        </section>

        <section class="navigation">
            <nav aria-label="Navigation du pied-de-page">
                <ul>
                    <li>
                        <a>Politique de confidentitalité</a>
                    </li>
                    <li>
                        <a>Conditions générales de vente</a>
                    </li>
                    <li>
                        <a>Mentions légales</a>
                    </li>
                </ul>
            </nav>
        </section>

        <section>
            <a class="border-bottom">
                Nous contacter
            </a>
        </section>

        <section class="socials">
            <div class="icons">
                <nav aria-label="Où nous trouver sur les réseaux sociaux">
                    <ul>
                        <li>
                            <a>
                                <img
                                    src="/assets/pinterest.svg"
                                    alt="Logo Pinterest"
                                />
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="/assets/twitter.svg" alt="Logo Twitter" />
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="/assets/facebook.svg" alt="Logo Facebook" />
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <img
                src="/assets/payplug.png"
                alt="Logo PayPlug qui garantie un paiement sécurisé"
            />
        </section>
    </div>

    <div class="credits">© 2019 - 2021 Run'Zik SAS </div>
</div>